@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&family=Space+Grotesk:wght@500&display=swap');

* {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main-input {
  background-color: #677c80;
  width: 50vw;
  height: 5vh;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px aqua;
  margin-top: 15vh;
  transition: 0.5s;
}


.Main-input:hover {
  background-color: #677c80;
  width: 55vw;
  height: 5vh;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px aqua;
  margin-top: 15vh;
  transition: 0.5s;
}

.Add-task {
  background-color: rgb(47, 105, 105);
  border: none;
  border-radius: 10px;
  height: 6vh;
  margin-left: 4vw;
  transition: 0.4s;
}

.Add-task:hover {
  background-color: rgb(102, 212, 212);
  border: none;
  border-radius: 10px;
  height: 6vh;
  margin-left: 4vw;
  transition: 0.4s;
}

.Todo-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

Form {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

Button {
  height: 6vh;
  margin-top: 15vh;
}

.Restore {
  background-color: rgb(134, 2, 2);
  border: none;
  border-radius: 10px;
  margin-left: 2vw;
}

p {
  font-family: 'Space Grotesk', sans-serif;
}
